extends layout

block content
	img.hero-big(src='http://media.steampowered.com/apps/dota2/images/heroes/#{message.hero}_lg.png')
	h1 #{message.header}
	p #{message.content}
	p (We've logged the error and are working on fixing any problems that may have occurred along the way of you getting here.)