extends layout

block content
	h1 Internal server error
	p Something legitimately bad happened.
	p (We've logged the error and are working on fixing any problems that may have occurred along the way of you getting here.)
	if error
		p=error