extends layout

block content
	h1 About Dotabutt
	p dotabutt is a sweet and awesome Dota 2 API app thing that's awesome and kicks ass and is rad
	p it's written in node and express and jade and stuff