extends layout

block content
	h1 About Dotabutt
	p Dotabutt is a pretty great Dota 2 stats tracking website.
	p
		='You can find the answers to any questions you have about it '
		a(href='/faq/') on the FAQ page
		='.'
	p
		| Dotabutt is powered by 
		a(href='http://nodejs.org') Node.js
		| , 
		a(href='http://www.mongodb.org') mongodb
		| , 
		a(href='http://expressjs.com') Express
		| , 
		a(href='http://jade-lang.com') Jade
		| , 
		a(href='http://learnboost.github.io/stylus/') Stylus
		| , 
		a(href='http://visionmedia.github.io/nib/') Nib
		| , 
		a(href='http://momentjs.com') Moment.js
		| , 
		a(href='https://github.com/gett/mongojs') mongojs
		| , 
		a(href='http://i18next.com') i18next
		| , 
		a(href='https://github.com/jaredhanson/passport') Passport
		|  and  
		a(href='https://github.com/caolan/async') Async
		| .
	p
		| Pretty much everything else was done by 
		a(href='http://rezich.com') Adam Rezich
		| . Including the classy logo.
	p Dotabutt is not affiliated with any other Dota 2-centric websites, stat-tracking or otherwise.