extends layout

block content
	h1 Heroes
	.centered
		a(href='#') Names
		|  | 
		a(href='#') Names + Icons
		|  | 
		a(href='#') Icons
	.centered
		a(href='#') Show unreleased
	ul.columns
		each hero,id in heroes
			li: a(href='/heroes/#{hero.slug}', title='#{hero.localized_name}')
				img(src='http://media.steampowered.com/apps/dota2/images/heroes/#{hero.short_name}_sb.png', alt='#{hero.localized_name}') 
				=hero.localized_name