extends layout

block content
	script
		$(function() { $("#search").focus(); });
	#home
		#search-container
			form.search(action='search/')
				input#search(name='q',placeholder=t('search.hint'))
				input(type='submit',value=t('search.submit'))
	.centered
		= t('search.first_time_1') + ' '
		a(href='/faq/')= t('search.first_time_2')