extends layout

block content
	#home
		#search-container
			input#search(placeholder='Search the Dotaverse...')
	.centered Yeah, that search up there? Doesn't work just yet.
	.centered Meanwhile, 
		a(href='/matches/100728043') here's a cool match
		| , 
		a(href='/players/69379089') here's a cool dude
		| , and 
		a(href='/teams/365331') here's a cool team
		| .