extends layout

block content
	p Welcome to Dotabutt.
	p Eventually it'll be a thing, but for now, you can kind of sort of look at matches, and barely look at players, and that's about it.
	p
		a(href='/match/100728043') Here's a pretty cool match
		|  and 
		a(href='/player/69379089') here's a pretty cool dude
		| , though.