extends layout

block content
	#home
		#search-container
			form.search(action='search/')
				input#search(name='q',placeholder='Search for Dota stuff...')
				input(type='submit',value='Submit')
	.centered That search up there works, finally!
	.centered
		a(href='/matches/100728043') Here's a cool match
		| , 
		a(href='/players/69379089') here's a cool dude
		| , and 
		a(href='/teams/365331') here's a cool team
		| .