doctype 5
html
	head
		title Dotabutt - #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#container
			#title-container
				a#logo(href='/')
				#title
					a(href='/') Dotabutt
				#tagline classy Dota 2 statistics
			block content