doctype 5
html
	head
		title Dotabutt - #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700',rel='stylesheet',type='text/css')
	body
		#container
			#header-container
				#header
					#logo-container
						a#logo(href='/')
					#user-container
						a(href='/'): img#avatar(src='http://media.steampowered.com/steamcommunity/public/images/avatars/fc/fc9f0ca1085c3d92214960f09b364608a537d33d_medium.jpg')
						#user-info
							#user-name: a(href='/') SDI`takua108
							#user-controls
								a(href='/') Settings
								|  | 
								a(href='/') Sign Out
					#title-container
						#title
							a(href='/') Dotabutt
						#tagline classy Dota 2 statistics
					#nav-container-large
						ul#nav-large
							li: a(href='/heroes/') Heroes
							li: a(href='/items/') Items
							li: a(href='/matches/') Matches
							li: a(href='/players/') Players
							li: a(href='/teams/') Teams
			#nav-container-med
				ul#nav-med
					li: a(href='/heroes/') Heroes
					li: a(href='/items/') Items
					li: a(href='/matches/') Matches
					li: a(href='/players/') Players
					li: a(href='/teams/') Teams
			#main-container
				#main
					#content
						block content
			#footer-container
				#footer Copyright 2013 
					a(href='http://rezich.com') Adam Rezich
					| . Dota 2 is a registered trademark of 
					a(href='http://www.valvesoftware.com/') Valve Corporation
					| .