doctype 5
html
	head
		title Dotabutt - #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700',rel='stylesheet',type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Amaranth:400,700',rel='stylesheet',type='text/css')
		link(rel='search',type='application/opensearchdescription+xml',href='/opensearch.xml',title='Dotabutt')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
	body
		#container
			#header-container
				#header
					#logo-container
						a#logo(href='/')
					#user-container
						if user
							a(href='/players/' + user.player.account_id): img#avatar(src=user.player.avatarmedium)
							#user-info
								#user-name: a(href='/players/' + user.player.account_id) 
									=user.player.personaname
								#user-controls
									a(href='/') Settings
									|  | 
									a(href='/logout/') Sign Out
						else
							a#authbutton(href='/auth/')
								div Sign in through Steam
					#title-container
						#title
							a(href='/') Dotabutt
						#tagline classy Dota 2 statistics
					#nav-container-large
						ul#nav-large
							li: a(href='/heroes/') Heroes
							li: a(href='/items/') Items
							li: a(href='/matches/') Matches
							li: a(href='/players/') Players
							li: a(href='/teams/') Teams
			#nav-container-med
				ul#nav-med
					li: a(href='/heroes/') Heroes
					li: a(href='/items/') Items
					li: a(href='/matches/') Matches
					li: a(href='/players/') Players
					li: a(href='/teams/') Teams
			#main-container
				#main
					#content
						block content
			#footer-container
				#footer
					div This website is currently in super early alpha or whatever.
					div Like half of the stuff on it doesn't work, but hey, chill out, we're getting there.
					div Copyright 2013 
						a(href='http://rezich.com') Adam Rezich
						| . 
						a(href='http://dota2.com') Dota 2
						|  is a registered trademark of 
						a(href='http://www.valvesoftware.com/') Valve Corporation
						| .
					ul#bottomlinks
						li: a(href='/about') About
						li: a(href='/privacy') Privacy
						li: a(href='/faq') FAQ
						li: a(href='/donate') Donate
						li: a(href='http://twitter.com/dotabutt') Twitter
						li: a(href='https://github.com/adamrezich/dotabutt') GitHub