extends layout

block content
	h1 Matches
	p These are the ten most recent matches in Dotabutt's database. "Recent" as in when they took place, not when they were added to the database.
	if matches && matches.length > 0
		mixin match_list(matches)
	else
		p No matches!
	.centered #{total_matches} matches on file | #{moment(behind).fromNow(true)} behind