extends layout

block content
	h1 Players
	if players && players.length > 0
		ul.columns
			each player in players
				li: a(href='/players/#{player.account_id}')
					img(src='#{player.avatar}')
					=player.personaname
	else
		p No players!
	.centered #{total_players} players on file