extends layout

block content
	h1 Privacy policy
	p Okay so like, this is nowhere near a legally-binding thing, but like, seriously, we don't collect any data outside of what is easily available on the Steam API.
	p It'd be too hard.
	p When you log in through Steam, or when someone checks you out through the search system, your Steam account ID, and any other publically-available information attached to it is stuck in our database for all time.
	p We can't collect any information about you at all if you have your "Share Match History" disabled in Dota 2. We also can't collect anything that's not on your public-facing Steam profile.
	p So basically, if you don't want us to have your information, disable "Share Match History" or don't put it on Steam to begin with.
	p This privacy policy is subject to change at any time. We should probably warn you or something on the front page when that happens.