extends layout

block content
	h1 Stats
	h2.centered Matches
	table.width-100
		mixin statrow(matches.count, 'matches in database')
		mixin statrow(matches.latest, 'is when the latest scraped match took place')
		mixin statrow(matches.behind, 'is about how far behind we are on scraping matches')
		mixin statrow(matches.size+'GB', 'is about how much space the matches take up')
	h2.centered Players
	table.width-100
		mixin statrow(players.count, 'players in database')
	h2.centered Teams
	table.width-100
		tr
			td.centered aren't even implemented yet lol
	h2.centered Misc.
	table.width-100
		tr
			td.halign-right.padding-right.width-50
				if steamapi.down
					| offline
				else
					| online
			th Steam API status
		tr
			td.halign-right.padding-right.width-50=moment(butt.startupTime).fromNow(true)
			th is how long it's been since our last restart
		mixin statrow(players.global, 'people playing Dota 2 globally right now')

mixin statrow(stat, heading)
	tr
		td.halign-right.padding-right.width-50=stat
		th=heading