extends layout

block content
	h1 Teams
	p Teams aren't in yet! Soon, though! And probably Guilds if a.) that ever becomes a thing and b.) they allow API access to them (the former is fairly likely and the latter is fairly unlikely).