html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
*{cursor:default}
em{font-style:italic}
strong{font-weight:bold}
body{font-family:'Droid Sans',sans-serif;font-size:11pt;background:url("/images/grid_noise.png") #eaeaea;margin:0;padding:0;}
input{cursor:text}
a{color:#00b7ff;cursor:pointer;text-decoration:none}
a *{cursor:pointer}
a:hover{text-decoration:underline}
p{margin:0;cursor:text;margin-bottom:8px}
p:last-child{margin-bottom:0}
h1{font-size:30px;line-height:80%;color:#888;margin-bottom:8px}
h2{font-size:22px}
h3{font-size:18px}
abbr{cursor:help}
a img{cursor:pointer}
.centered{text-align:center}
.centered-margins{margin:0 auto}
.width-100{width:100%}
.width-50{width:50%}
.item-big,.hero-big,.player-big{float:right}
.columns, .item-list, .hero-list {
		column-width: 250px;
		-webkit-column-width: 250px;
		-moz-column-width: 250px;
	}
li.recipe{display:none}
li.duplicate{display:none}
.item-list-icon-large{display:none}
.hero-list-icon-large{display:none}
form.search input[type="submit"]{display:none}
#home{width:100%;height:100px}
#home {
		background: #dddddd; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, #dddddd 0%, #ffffff 75%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#dddddd), color-stop(75%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover, #dddddd 0%,#ffffff 75%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover, #dddddd 0%,#ffffff 75%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover, #dddddd 0%,#ffffff 75%); /* IE10+ */
		background: radial-gradient(ellipse at center, #dddddd 0%,#ffffff 75%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
#search-container{margin:0 auto;height:100%;position:relative}
#search{position:absolute;top:50%;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#fff;border:2px solid #bbb;padding:.2em .1em .1em .1em}
@media (max-width: 300px){#search-container{width:200px}
#search{margin-top:20px/1;font-size:18px}
}@media (min-width: 301px){#search-container{width:280px}
#search{margin-top:20px/1.5;font-size:20px}
}@media (min-width: 520px){#search-container{width:460px}
#search{margin-top:20px/2;font-size:24px}
}@media (min-height: 410px){#home{height:200px}
}@media (min-height: 510px){#home{height:300px}
}@media (min-height: 610px){#home{height:400px}
}@media (min-height: 710px){#home{height:500px}
}@media (min-height: 810px){#home{height:600px}
}@media (min-height: 910px){#home{height:700px}
}@media (min-height: 1100px){#home{height:800px}
}#header-container{width:100%;margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#header{height:68px;max-width:1024px;margin:0 auto;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#header>div{height:68px}
#main{margin:0 auto;padding:10px;max-width:960px;background:#fff;-webkit-border-radius:3px;border-radius:3px;min-height:200px}
#footer-container{width:100%;margin-top:16px}
#footer{text-align:center;padding:8px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;max-width:960px;margin:0 auto;color:#999}
#footer a{color:#999}
#footer a:hover{color:#00b7ff;text-decoration:none}
#container{margin:0 auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#title-container{height:68px;margin:0 auto;width:212px}
#title{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:3px}
#title a{color:#333;text-decoration:none;margin:0 auto;display:block;font-family:'Amaranth',sans-serif;color:#616161}
#title a:hover{color:#00b7ff}
#tagline{margin-top:-3px;color:#aaa;margin-left:4px;float:left;width:100%;font-size:11pt}
#logo-container{float:left;width:68px}
#logo{height:64px;width:64px;background:url("/images/dotabutt_64.png") #fff;border:2px solid #999;float:left}
#logo:hover{border-color:#00b7ff}
#nav-container-large{text-align:center;width:100%;display:none}
ul#nav-large{margin:0 auto;padding:0;width:464px}
ul#nav-large li{display:inline;list-style:none outside none}
ul#nav-large li a{text-decoration:none;color:#666;font-size:16pt;height:68px;line-height:68px;display:block;float:left;width:89px;text-align:center}
ul#nav-large li a:hover{color:#00b7ff}
#nav-container-med{display:block;height:36px;margin:0;padding:0;background:#ddd}
ul#nav-med{margin:0;padding:0;text-align:center;height:36px;position:absolute;width:100%}
ul#nav-med li{list-style:none outside none;display:block;float:left;height:100%;width:20%;position:relative}
ul#nav-med li a{text-decoration:none;font-size:24px;height:36px;color:#666;display:block;padding:6px 0 2px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
ul#nav-med li a:hover{background:#ccc}
#user-container{float:right;width:68px}
img#avatar{border:2px solid #999;float:right}
a:hover img#avatar{border-color:#00b7ff}
#user-info{width:200px;height:100%;float:right;text-align:right;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-right:8px;display:none}
#user-name{font-size:18px;height:50%;position:relative}
#user-name a{position:absolute;width:100%;bottom:0;text-align:right;color:#000;text-decoration:none;display:block}
#user-name a:hover{color:#00b7ff}
#user-controls{font-size:12px}
#user-controls a{color:#000;text-decoration:none}
#user-controls a:hover{color:#00b7ff}
@media (min-width: 1008px){#nav-container-large{display:block}
#nav-container-med{display:none}
#main-container{margin-top:16px}
#container{padding-top:16px}
}@media (min-width: 560px){#user-container{width:280px}
#user-info{display:block}
#title-container{float:left}
}@media (max-width: 560px){#nav-container-med{height:32px}
ul#nav-med{height:32px}
ul#nav-med li a{font-size:20px}
}@media (max-width: 400px){#nav-container-med{height:28px}
ul#nav-med{height:28px}
ul#nav-med li a{font-size:16px}
}@media (max-width: 360px){#nav-container-med{height:26px}
ul#nav-med{height:26px}
ul#nav-med li a{font-size:14px}
}@media (max-width: 290px){#nav-container-med{height:24px}
ul#nav-med{height:24px}
ul#nav-med li a{font-size:12px}
}@media (max-width: 230px){#nav-container-med{height:22px}
ul#nav-med{height:22px}
ul#nav-med li a{font-size:10px}
}@media (min-width: 560px){#title-container{width:212px}
#title a{font-size:48px;text-align:left}
#tagline{text-align:left}
}@media (max-width: 559px){#title-container{width:212px}
#title a{font-size:48px;text-align:center}
#tagline{text-align:center;display:block}
}@media (max-width: 360px){#title-container{width:180px}
#title a{padding-top:12px;font-size:38px}
#tagline{display:none}
}@media (max-width: 316px){#title-container{width:110px}
#title a{padding-top:21px;font-size:24px}
}@media (max-width: 250px){#title-container{width:80px}
#title a{padding-top:24px;font-size:18px}
}@media (max-width: 240px){#title-container{width:58px}
#title a{padding-top:26px;font-size:14px}
}ul#bottomlinks{margin-top:4px}
ul#bottomlinks > li{display:inline;margin:0 6px}
th{color:#bbb}
table.padded td,table.padded th{padding:0 4px}
td.playername{width:150px}
td.heroname{width:100px}
td.playericon{width:32px}
td.heroicon{width:59px}
table.matchlist tbody tr{height:36px}
table.matchlist tbody tr:nth-child(4n+3),table.matchlist tbody tr:nth-child(4n+4){background:#eee}
.clearfix{zoom:1}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.matchinfo{vertical-align:top;padding-right:4px}
.fullwidth{width:100%}
.valign-top{vertical-align:top}
.valign-bottom{vertical-align:bottom}
.halign-right{text-align:right}
.padding-right{padding-right:4px}
.big-text{font-size:20pt;color:#111}
.items-small-2x3{width:81px}
.towermap{width:128px;border:4px solid #999;vertical-align:top}
.towermap > div{position:relative;background:url("/images/towermap_background.png");height:128px}
.towermap > div > div{width:128px;height:128px;position:absolute;top:0;left:0}
.towermap-small{width:64px;border:4px solid #ccc;vertical-align:top}
.towermap-small > div{position:relative;background:url("/images/towermap_background.png");-webkit-background-size:64px;-moz-background-size:64px;background-size:64px;height:64px}
.towermap-small > div > div{width:64px;height:64px;position:absolute;-webkit-background-size:64px;-moz-background-size:64px;background-size:64px;top:0;left:0}
.radiant-ancient{background:url("/images/towermap_radiant_ancient.png")}
.radiant-tower-ancient-top{background:url("/images/towermap_radiant_tower_ancient_top.png")}
.radiant-tower-ancient-bottom{background:url("/images/towermap_radiant_tower_ancient_bottom.png")}
.radiant-barracks-top-ranged{background:url("/images/towermap_radiant_barracks_top_ranged.png")}
.radiant-barracks-top-melee{background:url("/images/towermap_radiant_barracks_top_melee.png")}
.radiant-barracks-middle-ranged{background:url("/images/towermap_radiant_barracks_middle_ranged.png")}
.radiant-barracks-middle-melee{background:url("/images/towermap_radiant_barracks_middle_melee.png")}
.radiant-barracks-bottom-ranged{background:url("/images/towermap_radiant_barracks_bottom_ranged.png")}
.radiant-barracks-bottom-melee{background:url("/images/towermap_radiant_barracks_bottom_melee.png")}
.radiant-tower-tier1-top{background:url("/images/towermap_radiant_tower_tier1_top.png")}
.radiant-tower-tier1-middle{background:url("/images/towermap_radiant_tower_tier1_middle.png")}
.radiant-tower-tier1-bottom{background:url("/images/towermap_radiant_tower_tier1_bottom.png")}
.radiant-tower-tier2-top{background:url("/images/towermap_radiant_tower_tier2_top.png")}
.radiant-tower-tier2-middle{background:url("/images/towermap_radiant_tower_tier2_middle.png")}
.radiant-tower-tier2-bottom{background:url("/images/towermap_radiant_tower_tier2_bottom.png")}
.radiant-tower-tier3-top{background:url("/images/towermap_radiant_tower_tier3_top.png")}
.radiant-tower-tier3-middle{background:url("/images/towermap_radiant_tower_tier3_middle.png")}
.radiant-tower-tier3-bottom{background:url("/images/towermap_radiant_tower_tier3_bottom.png")}
.dire-ancient{background:url("/images/towermap_dire_ancient.png")}
.dire-tower-ancient-top{background:url("/images/towermap_dire_tower_ancient_top.png")}
.dire-tower-ancient-bottom{background:url("/images/towermap_dire_tower_ancient_bottom.png")}
.dire-barracks-top-ranged{background:url("/images/towermap_dire_barracks_top_ranged.png")}
.dire-barracks-top-melee{background:url("/images/towermap_dire_barracks_top_melee.png")}
.dire-barracks-middle-ranged{background:url("/images/towermap_dire_barracks_middle_ranged.png")}
.dire-barracks-middle-melee{background:url("/images/towermap_dire_barracks_middle_melee.png")}
.dire-barracks-bottom-ranged{background:url("/images/towermap_dire_barracks_bottom_ranged.png")}
.dire-barracks-bottom-melee{background:url("/images/towermap_dire_barracks_bottom_melee.png")}
.dire-tower-tier1-top{background:url("/images/towermap_dire_tower_tier1_top.png")}
.dire-tower-tier1-middle{background:url("/images/towermap_dire_tower_tier1_middle.png")}
.dire-tower-tier1-bottom{background:url("/images/towermap_dire_tower_tier1_bottom.png")}
.dire-tower-tier2-top{background:url("/images/towermap_dire_tower_tier2_top.png")}
.dire-tower-tier2-middle{background:url("/images/towermap_dire_tower_tier2_middle.png")}
.dire-tower-tier2-bottom{background:url("/images/towermap_dire_tower_tier2_bottom.png")}
.dire-tower-tier3-top{background:url("/images/towermap_dire_tower_tier3_top.png")}
.dire-tower-tier3-middle{background:url("/images/towermap_dire_tower_tier3_middle.png")}
.dire-tower-tier3-bottom{background:url("/images/towermap_dire_tower_tier3_bottom.png")}
a#authbutton{float:right;background:url("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png");width:114px;height:43px;margin-top:12px}
a#authbutton:hover{text-decoration:none}
a#authbutton div{display:none}
