global-reset()

body
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background: #eaeaea
	margin: 0
	padding: 0
a
	color: #00B7FF
	
p
	margin: 0

#header
	background: #eae
	margin: 0
#content
	background: #eea
	margin: 0
	padding: 8px
#footer
	background: #aee
	text-align: center

#container
	margin: 0 auto
	background: #fff

#title-container
	height: 68px
#title a
	font-size: 48px
	color: black
	text-decoration: none
#title a:hover
	text-decoration: underline
#tagline
	font-size: 12px
	margin-top: -7px
	color: #aaa
	margin-left: 4px
	float: left;
#logo
	height: 64px
	width: 64px
	background: url('/images/dotabutt_64.png') white
	border: 2px solid black
	float: left